.ad {
    text-align: center;
    border: 2px solid black;
}

.premium {
    text-align: center;
    border: 2px solid black;
    background-color: lightblue;
}

.ad_title {
    color: black;
    font-size: large;
    font-weight: 600;
}

.bid {
    border: 2px solid black;
    background-color: lightgray;
}

.categories {
    margin: 10px;
    display: inline-block;
}